<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Site</title>
</head>
<body>
    <h1>Welcome to My Blog {{5*5}} and random number is {{num}}</h1>
    <footer class="text-center spacer">
        <p>
            <em>No-© Update Your Footer {{year}}
                <br>Disclaimer: this is neither a vote for nor a vote against content copyrights.
            </em>
        </p>
    </footer>
</body>
</html>